block cellar
  div.row
    div.media
      div.media-left
        img.media-object(src="media/Robert3.png")
      div.media-body
        h4.media-heading Welcome!
        p.cellarConversation This needs to have some basic charts or recent activity
        p  followed by controls to change it from list to ui to some other view... a menu to buy wine etc
      div.clearfix
  div.row
    div.col-md-8.col-md-offset-2
      div.btn-group(role="group" aria-label="...")  
        button#add-wine.btn.btn-default.btn-sm(data-backdrop="false") Add 
          span.fa.fa-plus
      div.panel.panel-default
        table.table
          thead
            th 
              span.fa.fa-trash-o
            th
              span.fa.fa-pencil-square-o
            th 
              i Image?  
            th Varietal
            th Producer
            th Wine
            th Vintage
            th Quantity
            th My Notes
            th My Rating
            th 
              i History (last action)
          tbody#results-rows