block about
  div.row
    div.page-header
        h1 The Project
        p 
          b Objective: To get you up and running with a single page web app as quickly as possible.
        p This project exists because I've built a few side project apps and always disliked the initial time spent getting a framework and the other pieces together to actually get something simple off the ground. I found myself coming back to the Drywall project time and time again, and manipulating it for my purposes time and time again. I recently decided to take Drywall, modify it and extend it to my purposes and give that back to the community to be used by anyone to kickstart their apps too. The main differences are that I've incorporated MySQL for both data store and sessions via Sequelize and express-mysql-session, that the front-end is a singl page javascript app, and that it interacts with the back-end via a RESTful API. Bonus: The client and server are completely separated, you could therefore turn the client into a mobile app using cordova (phonegap) really easily thereby keeping consistent code across web app and mobile app, or just plug your own front-end in.
        p A huge thank you and shout out to Reza Akhavan and the 
          a(href="http://jedireza.github.io/drywall/" target="_blank") Drywall project
          | , as well as to Christophe Coenraets and his 
          a(href="http://coenraets.org/blog/2012/10/nodecellar-sample-application-with-backbone-js-twitter-bootstrap-node-js-express-and-mongodb/" target="_blank") Wine Cellar tutorial
          | , from which I've taken his great idea of a wine cellar to showcase how you can use this tool.  