block item-details
  div.row
    h1 Add/Edit Wine
    form#add-edit-wine
      div.form-group.hidden
        label(for="detailsID") ID
        input#detailsID.form-control(type="text") 
      div.form-group
        label(for="detailsVarietal") Varietal
        input#detailsVarietal.form-control(type="text" placeholder="Shiraz") 
      div.form-group
        label(for="detailsProducer") Estate
        input#detailsProducer.form-control(type="text" placeholder="Penfolds")
      div.form-group
        label(for="detailsWineName") Wine
        input#detailsWineName.form-control(type="text" placeholder="Bin 104 Special Reserve")
      div.form-group
        label(for="detailsVintage") Vintage (Year)
        input#detailsVintage.form-control(type="text" placeholder="2012") 
      div.form-group
        label(for="detailsQuantity") Quantity
        input#detailsQuantity.form-control(type="text" placeholder="12")   
      div.form-group
        label(for="detailsMyNotes") Notes
        textarea#detailsMyNotes.form-control(type="text" placeholder="Spicy with hints of orange zest")  
      div.form-group
        label(for="detailsMyRating") Rating
        select#detailsMyRating.form-control
          option 10
          option 9.9     
          option 9.8  
          option 9.7  
          option 9.6  
          option 9.5  
          option 9.4  
          option 9.3  
          option 9.2  
          option 9.1
          option 9.0
          option 8.9     
          option 8.8  
          option 8.7  
          option 8.6  
          option 8.5  
          option 8.4  
          option 8.3  
          option 8.2  
          option 8.1
          option 8.0 
          option 7.5
          option 7.0 
          option 6.5
          option 6.0 
          option 5.5
          option 5.0
          option 4.0
          option 3.0 
          option 2.0
          option 1.0     
  div.row.footer
    button#cancel.btn.btn-default(type="button" data-dismiss="modal") Cancel
    button#save.btn.btn-primary(type="button") Save                             