td.delete 
  button#delete-wine.btn.btn-default.btn-sm(data-backdrop="false") 
    span.fa.fa-trash-o
td.edit 
  button#wine-details.btn.btn-default.btn-sm(data-backdrop="false")
    span.fa.fa-pencil-square-o
td#id.hidden <%= attributes.id %>
td.image    
td.varietal <%= attributes.varietal %>
td.producer <%= attributes.producer %>
td#name <%= attributes.wineName %>
td.vintage <%= attributes.vintage %>
td.quantity <%= attributes.quantity %>
td.myNotes <%= attributes.myNotes %>
td.myRating <%= attributes.myRating %>