td.delete 
  input.delete-wine(type='checkbox')
td.grape <%= attributes.grape %>
td.estate <%= attributes.estate %>
td#wine-details.name <%= attributes.name %>
td.notes <%= attributes.notes %>
td.rating <%= attributes.rating %>