block cellar
  div.row
    div.media
      div.media-left
        //img.media-object(src="media/Robert3.png")
      div.media-body
        h4.media-heading Features Page
        p.cellarConversation This needs to have the features of the product.. 1,2,3
        p  ..and more reasons to use it, not an example cellar
      div.clearfix