block home
  div.jumbotron
    h1 Success!!!
      div.chars
        div.col-md-2.col-md-offset-3
          img(src='media/Sid.png')
          h2 Sid 
        div.col-md-2
          h2#and and
        div.col-md-2
          img(src='media/Sven.png')  
          h2 Sven
      div.story    
        p.lead Sid likes wine and Sven likes design. They are your Node.js server and single-page app.      
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Vision
          p To provide a simple, minimal starter project for creating single-page apps built with 
            a(href="http://nodejs.org" target="_blank") node.js
            |  on the server,  
            a(href="http://backbonejs.org/" target="_blank") backbone
            |  on the client and a MySQL data store. This project was created based on jedireza's fantastic 
            a(href="https://github.com/jedireza/drywall" target="_blank") Drywall 
            |  project and Christophe Coenraets' 
            a(href="http://coenraets.org/blog/2011/12/backbone-js-wine-cellar-tutorial-part-1-getting-started/" target="_blank") Wine Cellar
            |  tutorial.
          //a.btn.btn-default.btn-block(href='#') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Technology
          p Sid and Sven utilise current technologies such as 
            a(href="http://nodejs.org" target="_blank") node.js
            | , 
            a(href="http://expressjs.com/" target="_blank") express
            | , 
            a(href="http://passportjs.org/" target="_blank") passport
            | , 
            a(href="http://www.mysql.com/" target="_blank") mysql 
            | ,
            a(href="http://docs.sequelizejs.com/en/latest/" target="_blank") sequelize 
            | on the back end and 
            a(href="http://backbonejs.org/" target="_blank") backbone
            | , 
            a(href="http://getbootstrap.com/" target="_blank") bootstrap
            | ,  
            a(href="http://fortawesome.github.io/Font-Awesome/" target="_blank") font awesome
            | , 
            a(href="http://jade-lang.com/" target="_blank") jade 
            | and 
            a(href="http://lesscss.org/" target="_blank") less 
            | on the front end. They're built using 
            a(href="http://gruntjs.com/" target="_blank") Grunt
            | .
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Open
          p Open source and available on GitHub, go ahead and fork them. I hope you build something great!
          a.btn.btn-default.btn-block(href='https://github.com/sbignell/sid') Sid Source Code
          a.btn.btn-default.btn-block(href='https://github.com/sbignell/sven') Sven Source Code