block home
  div.jumbotron
    h1 A place for good wine
      div.story    
        p.lead Top Shelf is the leading Wine Cellar app to manage, research, track and buy your wine!     
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Features
          p  Show the 3 feature bubbles here... etc